<div style="max-width: 400px;" class="mt-4">
  <h4 class="titleFirstRow">Sunteti sigur ca doriti sa stergeti familia <a style="color: #139CE0">{{data.name}}</a> din sistem? Aceasta operatie este<a style="color: #DB0812"> definitiva </a></h4>
  <section class="mt-3">
    <div class="example-button-row">
      <button mat-raised-button class="cancelButton" (click)="cancel()">Renunta</button>
      <button mat-raised-button class="approveButton" (click)="confirm();">Sterge</button>
    </div>
  </section>
</div>

