<div class="container emp-profile">
  <form>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="/assets/img/no_profile_picture.png" alt="no_profile " height="230" width="230"/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <div style="display: inline-flex; min-width: 250px">
            <h4 style="margin-top: -0.1em">
              Your account data
            </h4>
            <button type="button" (click)="modalFunction()" class="btn btn-edit-profile" style="margin-top: -2%;"><i
              class="fas fa-user-edit fa-lg"></i></button>

          </div>
          <h6 class="mt-2">
            Client
          </h6>
          <p class="proile-rating">Thank you for being our customer for : <span>3 months</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                 aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                 aria-selected="false">Timeline</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <a href="/products"> <img src="assets/img/back-button.png" class="profile-return-btn-btn ml-2"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <h5 class="mt-2 mb-3">DETAILS</h5>

          <div class="mb-2"><a href="" class="mb-2">My account</a><br/></div>
          <div class="mb-2"><a href="" class="mb-2">My orders</a><br/></div>
          <div class="mb-2"><a href="" class="mb-2">Favorites</a></div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Username</label>
              </div>
              <div class="col-md-6">
                <p>Kshiti123</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Full Name</label>
              </div>
              <div class="col-md-6">
                <p>Kshiti Ghelani</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>kshitighelani@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Address</label>
              </div>
              <div class="col-md-6">
                <p>123 456 7890</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="showModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit profile data</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-6 col-sm-12 profile-edit-form">
        <div class="register-form">
          <div class="register-div">
            <form style="min-width: 300px; text-align: left">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" placeholder="E-mail">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="password" class="form-control" placeholder="Address">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>
            </form>
          </div>
        </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-save-profile-changes">Save changes</button>
        </div>
      </div>
    </div>
  </div>
