
.navbar-brand {
  font-size: 28px;
  color: black;
  margin-left: 100px;
  display: inline-flex;
  font-family: 'anurati';
  letter-spacing: 4px;
}

.navbar {
  border-width: medium;
  border-bottom: solid grey;
}

.bg-light {
  background: #ffffff !important;
}

.contulMeuButon {
  display: inline-flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin-top: 40%;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contulMeu {
  display: inline-block;
  margin-top: 15%;
}

.shoppingCart {
  cursor: pointer;
  margin-left: 100px;
  margin-top: 12%;
}

.mat-badge-content {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(117, 0, 0, 1) 50%, rgba(246, 0, 0, 1) 100%);
}

#parent {
  position: relative;
  width: 100%;
  height: 71vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#left {
  position: absolute;
  width: 40%;
  left: 0;
  height: 71vh;
}

#photo {
  transition: 1s;
}

#photo:hover {

  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#right {
  position: absolute;
  width: 60%;
  background-color: #F6F6F6;
  right: 0;
  height: 71vh;
}

#middle {
  position: absolute;
  background-color: green;
  height: 50vh;
  margin-top: 10vh;
  z-index: 99;
  margin-left: 30%;
  width: 30%;
}

#footer {
  position: absolute;
  bottom: 3px;
  margin-left: 448px;
}

#productCategory {
  position: absolute;
  font-family: "Mint Grotesk Bol";
  color: black;
  font-size: 19px;
  letter-spacing: 2px;
  top: 4%;
}

#productDetails {
  position: absolute;
  width: 80%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#productName {
  position: absolute;
  top: 20%;
  font-size: 33px;
  font-family: "Mint Grotesk Bol";
  letter-spacing: 0px;
}

#price {
  position: absolute;
  top: 39%;
  font-size: 25px;
  font-family: "Mint Grotesk Bol";
  color: black;
}

#description {
  position: absolute;
  min-height: 75px;
  max-height: 75px;
  width: 85%;
  top: 56%;
  color: grey;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

#addToCartButton {
  position: absolute;
  bottom: 10%;
  border: none;
  background-color: black;
  color: white;
  height: 40px;
  width: 165px;
}

#deleteButton {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  bottom: 11%;
  right: 14%;
  background-image: url("../../assets/img/delete.png");
  width: 32px;
  height: 32px;
}

#editButton {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  bottom: 11%;
  right: 25%;
  background-image: url("../../assets/img/edit-tools.png");
  width: 32px;
  height: 32px;
  transform: rotateY(-180deg);
}

#confirmDelete {
  position: absolute;
  border: none;
  background-color: lightgray;
  right: 15%;
  top: 12%;
}

#confirmDelete:hover {
  background-color: darkgreen;
  color: ghostwhite
}

#abortDelete {
  position: absolute;
  border: none;
  background-color: lightgray;
  left: 15%;
  top: 12%;
}

#abortDelete:hover {
  background-color: darkred;
  color: ghostwhite
}

#exampleModalLongTitle h5 {
  width: 200px;
  color: ghostwhite !important;
  position: absolute;
  font-size: medium;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#exampleModalCenter {
  width: 300px;
}

#exampleModalInfoCenter {
  width: 300px;
}


.modal-body {
  height: 40px;
}

.modal {
  display: block;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

.modal-title{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 200px;
  width: 1000px;
}

.modal-footer{
  position: relative;
  right: 155px;
  border-top:none;
}

.btn-secondary{
  background-color: black;
  outline: none;
  border: none;
  margin-left: 10px;
}

.btn-secondary:hover{
  background-color: #2AB64B;
}

.btn-primary{
  border: none;
  outline: none;
  background-color: #5A6268;
}
.btn-primary:hover{
  background-color: red;
  }

.modal-header {
  padding: 5px !important;
  position: relative;
}

.linie {
  position: absolute;
  top: 20px;
  width: 40px;
  color: grey;
  border-top: 0.0517rem solid grey;
}

#totalCash {
  position: absolute;
  font-size: 15px;
  color: white;
  top:15%;
}

.linie2 {
  position: absolute;
  top: 47.5%;
  width: 40px;
  color: grey;
  border-top: 0.0517rem solid grey;
}

#notFav {
  position: absolute;
  right: 0;
  margin: 20px;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url("../../assets/img/heart-schwarz.png");
  background-color: #F6F6F6;
  border: none;
}


#fav {
  position: absolute;
  right: 0;
  margin: 20px;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url("../../assets/img/heartblack.png");
  background-color: #F6F6F6;
  border: none;
  cursor: pointer;
}

.pozaStock {
  display: block;
  width: 120px;
  height: 120px;
  top: -10px;
  left: -55px;
  position: absolute;
  z-index: 99;
  transform: rotateZ(20deg);
}

::-webkit-scrollbar {
  position: absolute;
  margin-left: 10px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}
