<div class="container mt-3">
  <nav class="navbar navbar-expand-sm bg-light justify-content-center sticky-top container">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="contulMeuButon" href="my-account"><i class="ion-ios-arrow-down"></i>{{clientName}}</a>
      </li>

      <li class="nav-item">
        <span class="contulMeu ml-2"> <a href="my-account"
                                         style="color: black;text-decoration: none">My Account</a></span>
      </li>

      <li class="nav-item">
        <a href="/log-in" (click)="logout()"> <img src="assets/img/logout.png" class="shoppingCart"></a>
      </li>

      <li class="nav-item">
        <a class="navbar-brand" style="font-family: anurati" href="/products"> <strong>ELCTRNX</strong></a>
      </li>

      <span matBadge="{{getNumberOfItemsInCart()}}" matBadgeSize="small" matBadgeColor="" style="position: absolute; top: 25px; left: 815px">  </span>

      <li class="nav-item">
        <a href="/shopping-cart"> <img src="assets/img/supermarket.png" class="shoppingCart"></a>
      </li>

      <li class="nav-item">
        <a (click)="favorites()"> <img src="assets/img/heart.png" class="shoppingCart"></a>
      </li>
    </ul>
  </nav>

  <div id="parent" class="mt-5">

<!--    LEFT -->

    <div id="left">

      <hr class="linie">

      <div>
      <img class="logo" src="../../assets/img/logo_transparentCart2.png">
      </div>

      <img class="rounded polaroid plata" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%); max-width: 50%; " src="../../assets/img/creditCard1.PNG">

      <div id="pay">
        <h6 style="color: white; position: absolute; top: 53%; min-width: 260px; text-align: center ;left: 50%; transform: translate(-50%)">
          TOTAL: <i style="font-size: 25px; margin-left: 3px;" > {{productsTotalCost()}} </i> RON </h6>

        <h6 [hidden]="hideSale" style="color: white; position: absolute; top: 67%; min-width: 260px; text-align: center ;left: 50%; transform: translate(-50%)">
          TOTAL AFTER SALE: <i style="font-size: 25px; margin-left: 3px;" > {{productTotalCostAfterSale(discount)}} </i> RON </h6>

      <button (click)="createOrder()" [disabled]="listOfProducts.length===0" class="mdc-button mdc-button--raised polaroid" id="checkOutButton"> CHECKOUT
        <i style="margin-left: 15px" class="fas fa-lock fa-sm"></i>
      </button>
      </div>
    </div>

<!--    RIGHT-->

    <div id="right" style="background-color: #F6F7FA">

      <div *ngIf="listOfProducts.length!=0" class="table-responsive">
        <table class="table border-0">
          <thead>

          <tr>
            <th scope="col" class="border-0 bg-light">
              <div class="p-2 px-3 text-uppercase" style="color: #2D3547">Product</div>
            </th>
            <th scope="col" class="border-0 bg-light">
              <div class="py-2 text-uppercase">Price</div>
            </th>
            <th scope="col" class="border-0 bg-light">
              <div class="py-2 text-uppercase cantitate">Quantity</div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="linieTabel" style="border-bottom: 1px solid #F1F1F1;" *ngFor="let product of listOfProducts" >
            <th scope="row" class="border-0">
              <div class="p-2">
                <img src={{product.image}} alt="" width="70"  id="poza" class="img-fluid rounded shadow-sm">
                <div class="ml-3 d-inline-block align-middle">
                  <h5 class="mb-0"> <a href="detail/{{product.id}}" class="text-dark d-inline-block align-middle">{{product.productName}}</a>
                    <i id="xButton" class="fas fa-times-circle" (click)="deleteFromCart(product.id)" data-toggle="tooltip" data-placement="top" title="Delete from cart"> </i></h5>
                  <span class="text-muted font-weight-normal font-italic d-block">Category: {{product.categoryName}}</span>
                 </div>
              </div>
            </th>

            <td class="border-0 align-middle"><strong> {{productsCost(product.id)}}</strong></td>

            <td class="border-0 align-middle cantitate">
              <i class="fas fa-minus"  (click)="decreaseQuantity(product.id)"  id="minus" aria-hidden="true"></i>
              <strong id="quantity">{{getQuantity(product.id)}}</strong>
              <i id="plus" class="fas fa-plus"  (click)="increaseQuantity(product.id)"  aria-hidden="true"></i> </td>

          </tr>

          </tbody>
        </table>
      </div>

      <div *ngIf="listOfProducts.length===0">

        <img style="max-width: 100%; min-width: 100%; max-height: 71vh" src="https://cdn.dribbble.com/users/2370289/screenshots/6150406/no_items_found.jpg">

        <div id="whiteDiv" style="background-color: white;width: 100%; position: absolute; bottom: 6%; height: 100px;">
          <span style="margin-top: 5px; color: grey; width: 70%;font-size: 22px; position: absolute;left:55%;transform: translate(-50%)"> Sorry mate... no items found inside your cart </span>

      </div>

      </div>
    </div>

</div>

  <div class="footer-copyright text-center py-3 mt-2" style="padding-bottom: 0!important;">© 2021 Copyright:
    <a href=""> Elctrnx.com</a>
  </div>

</div>


<div class="modal" style="display: block" tabindex="-1" role="dialog" *ngIf="showModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thank you! Your order is placed</h5>
        <button (click)="modalFunction()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The products will arrive at your home in the shortest time</p>
      </div>
    </div>
  </div>
</div>
