<div class="container mt-3">

  <nav class="navbar navbar-expand-sm bg-light justify-content-center sticky-top container">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="contulMeuButon" href="my-account"><i class="ion-ios-arrow-down"></i>{{clientName}}</a>
      </li>

      <li class="nav-item">
        <span class="contulMeu ml-2"> <a href="my-account"
                                         style="color: black;text-decoration: none">My Account</a></span>
      </li>

      <li class="nav-item">
        <a href="/log-in" (click)="logout()"> <img src="assets/img/logout.png" class="shoppingCart"></a>
      </li>

      <li class="nav-item">
        <a class="navbar-brand" href="/products"> <strong>ELCTRNX</strong></a>
      </li>

      <span matBadge="2" matBadgeSize="small" matBadgeColor=""
            style="position: absolute; top: 25px; left: 815px">  </span>

      <li class="nav-item">
        <a href="/log-in"> <img src="assets/img/supermarket.png" class="shoppingCart"></a>
      </li>

      <li class="nav-item">
        <a (click)="favorites()"> <img src="assets/img/heart.png" class="shoppingCart"></a>
      </li>
    </ul>
  </nav>

  <div class="form">
    <form class="polaroid form">
      <div style="margin-left: 395px">
      <div class="group"><input type="text" required="required"/><span class="highlight"></span><span
        class="bar"></span><label>Product Name</label></div>
      <div class="group"><input type="text" required="required"/><span class="highlight"></span><span
        class="bar"></span><label>Category</label></div>
      <div class="group"><input type="text" required="required"/><span class="highlight"></span><span
        class="bar"></span><label>Image</label></div>
      <div class="group"><input type="text" required="required"/><span class="highlight"></span><span
        class="bar"></span><label>Price</label></div>
      <div class="group"><textarea type="textarea" rows="5" required="required"></textarea><span
        class="highlight"></span><span class="bar"></span><label>Description</label></div>
      </div>
      <div class="btn-box">
        <button class="btn btn-cancel" type="button">cancel</button>
        <button class="btn btn-submit" type="submit">submit</button>
      </div>
    </form>
  </div>
</div>
