.poza {
  display: block;
  width: 100px;
  height: 100px;
}

.navbar-brand {
  font-size: 28px;
  color: black;
  margin-left: 100px;
  display: inline-flex;
  font-family: 'Open Sans';
  letter-spacing: 4px;
}

.navbar {
  border-width: medium;
  border-bottom: solid grey;
}

.bg-light {
  background: #ffffff !important;
}

.contulMeuButon {
  display: inline-flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin-top: 40%;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contulMeu {
  display: inline-block;
  margin-top: 15%;
}

.shoppingCart {
  margin-left: 100px;
  margin-top: 12%;
}

.slider {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  width: 222px;
  height: 160px;
  position: relative;
}

.card:hover {
  /*transform: scale(1.05);*/
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage {
  width: 150px;
  height: 110px;
  margin: 0 auto;
}

.notFavorit {
  margin-left: 92%;
  color: grey;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url("../../assets/img/heartblack.png");
  background-color: white;
  border: none;
}

.favorit{
  margin-left: 92%;
  color: grey;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url("../../assets/img/heart-schwarz.png");
  background-color: white;
  border: none;
}

.detailButton {
  width: 164px;
  height: 30px;
  text-align: center;
  background-image: url("../../assets/img/detailsButton.png");
  border-right: none;
  border-bottom: none;
  border-top: none;
}


.detailButton:hover {
  background-image: url("../../assets/img/butonDetalii.png");
}


.productCard {
  display: inline-block;
}

.cardP {
  padding: 15px;
  text-align: center;
  width: 210px;
  height: 365px;
}

.cardP:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
  margin-left: 15px;
  width: 18.4%;
}

.row {
  max-height: 365px;
}

/* Responsive columns */
@media screen and (max-width: 1200px) {
  .column {
    width: 23%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 981px) {
  .column {
    width: 30%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 755px) {
  .column {
    width: 40%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#selection li{
 color: #678098;
}

#emptyPhoto{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 33%;
}

.mat-badge-content{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(117,0,0,1) 50%, rgba(246,0,0,1) 100%);
}
