.poza {
  display: block;
  width: 100px;
  height: 100px;
}

.navbar-brand {
  font-size: 28px;
  color: black;
  margin-left: 100px;
  display: inline-flex;
  font-family: 'Open Sans';
  letter-spacing: 4px;
}

.navbar {
  border-width: medium;
  border-bottom: solid grey;
}

.bg-light{
  background:#ffffff !important;
}

.contulMeuButon {
  display:inline-flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin-top: 40%;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contulMeu{
  display: inline-block;
  margin-top: 15%;
}

.shoppingCart{
  margin-left: 100px;
  margin-top: 12%;
}

.carusel{
  max-height: 400px;
  min-height: 400px;
  width: 100% !important;
}

.slider{
  padding-left:0px !important;
  padding-right:0px !important;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.card{
  width: 222px;
  height: 160px;
  position: relative;
}

.card:hover{
  /*transform: scale(1.05);*/
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage{
  width: 150px;
  height: 110px;
  margin: 0 auto;
}

.asusImage{
  width: 150px;
  height: 100px;
  margin: 0 auto;
}

.dellImage{
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.samsungImage{
  width: 200px;
  height: 160px;
  margin: 0 auto;
}

.favorit{
  margin-left: 90%;
  margin-top: 5%;
}

.detailButton{
  width: 164px;
  height: 30px;
  text-align: center
}

.productCard{
  display: inline-block;
}
