<body>
<div>
  <div class="sidenav">
    <div class="login-main-text">
      <h2><strong>Welcome to </strong></h2>
      <h2 class="mb-3 login-text"> <strong>ELCTRNX!</strong></h2>
      <a href="/register" class="registerRedirect"><strong>Don't have an account? Register here.</strong></a>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <div class="login-div">
        <form [formGroup]="loginForm" id="login-form" action="" method="post" style="font-size: 14px; margin-top: 7px">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input  formControlName="username" matInput value="" autocomplete="off">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput value="" autocomplete="off">
          </mat-form-field>
          <div class="buttonHolder">
          <button type="submit" (click)="log_in()" class="btn loginButton mt-2">Login</button>
          </div>
        </form>
        </div>

        <div class="logo-div">
        <img src="assets/img/logo_transparent.png" class="logo">
      </div>

      </div>
    </div>
  </div>
</div>



</body>
