<div>


  <mat-grid-list class="sidenav" cols="12">
    <mat-grid-tile
      [colspan]="12"
      [rowspan]="15">
      <img src="assets/img/circuit_register_background.png" class="background-image">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list class="sidenavRight" cols="2" rowHeight="100px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="6">
      <form [formGroup]="registerForm" id="register-form" action="" method="post" style="min-width: 300px; font-size: 14px">

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>First Name</mat-label>
          <input  formControlName="firstName" matInput placeholder="Ex. Andrei" value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('firstName')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Ex. Popescu" value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('lastName')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Ex. andreipopescu10" value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('username')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('password')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input type="password" formControlName="confirmPassword" matInput value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('confirmPassword')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

      </form>
    </mat-grid-tile>
    <mat-grid-tile style="height: 500px; margin-top: 3.95%"
      [colspan]="1"
      [rowspan]="4">
      <form [formGroup]="registerForm" id="register-form-two" action="" method="post" style="min-width: 300px; margin-top: 37px; font-size: 14px">

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input formControlName="emailAddress" matInput placeholder="Ex. test@mail.com" value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('emailAddress')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Country</mat-label>
          <input formControlName="country" matInput placeholder="Ex. Romania" value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('country')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput placeholder="Ex. Sibiu" value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('city')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Street</mat-label>
          <input formControlName="street" matInput placeholder="Ex. Cerbului" value="" autocomplete="off" required>
          <mat-error style="font-size: 13px" *ngIf="findInvalidControls('street')">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </form>
    </mat-grid-tile>
    <mat-grid-tile style="margin-top: 15px"
      [colspan]="1"
      [rowspan]="4">
      <div class="logoDiv">
        <img src="assets/img/logo_transparent.png" class="logo">
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="3">
      <form [formGroup]="registerForm" id="register-form-three" action="" method="post" style="min-width: 150px">
        <div class="buttonHolder">
          <button type="submit" class="btn mt-4 mr-2 cancelButton" (click)="cancel()">Cancel</button>
          <button [disabled]="registerForm.invalid"  type="submit" class="btn mt-4 ml-2 registerButton" (click)="createAccount()">Register</button>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>

</div>
